@media screen and (max-width: 768px) {
 

  /* heading area */
  .heading{
    width: 95%;
    margin-top: 30px;
    
  }
  .navication-bar ul{
    display: none;
  }
  .nonea{
    display: block;
  }

  /* banner area */
  .banner{
    flex-direction: column-reverse;
    height: 100%;
    
   
  }
  .banner-image{
    margin-bottom: 50px;
  }
  .banner-image {
    width: 100%;
  }
  .banner-title{
    width: 95%;
   
  }
  .banner-title h1{
    font-size: 24px;
  }
  .banner-title p{
    font-size: 14px;
  }

  /* Plants area */

  .Plants{
   width: 100%;
   padding: 10px;
   margin-bottom: 80px;

  }
  .Plants-title h2{
    font-size: 26px;
  }
  .Plants-title p{
    font-size: 14px;
  }
  .plants-card-area{
    grid-template-columns: repeat(2,1fr);
  }
  .btn{
  padding: 15px 30px;
  
  }

  /* *about -section */

  .about{
    grid-template-columns: repeat(1,1fr);
    width: 95%;
    padding: 10px;
    margin-bottom: 80px;
    
  }

  .about-image{

    margin-bottom: 20px;

 }
 .about-title li{
  list-style-position: inside; 
  
 }
 .about-title ul li {
  
  font-size: 14px; 
 }
 .pos{
   display: none;
 }
 .about-title h2{
  font-size: 26px;
 }
 
 .about-title h2 span{
  display:inline-block;
}


  /* *latest-card */

  .latest-title{
    margin-bottom: 60px;
    padding: 10px;
  }

  .latest-card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-bottom: 60px;
  }
  .latest-title h2{
    font-size: 26px;
  }
  .latest-title p{
    font-size: 14px;
  }
  .latest-title p span{
    display: inline;
  }
  .image1,
  .image2,
  .image3{
    width: 95%;
    height: 172px;
    margin: 0px auto;
    margin-bottom: 20px;
    
  }
  
  .image3 h2{
    font-size: 20px;
    font-weight: bold;
  }
  .image3 h3{
    font-size: 20px;
    font-weight: bold;
  }
  /* *concat */
  .concat{
    
    text-align: center;
    height: 233px;
  }
  .concat-fil{
    width: 90%;
  }
  .concat-title h2{
    font-size: 20px;
  }
  .concat-fil input{
    padding:15px 30px ;
    width: 100%;
    background-color: #FFFFFF;
    border: none;
  }
  #btn{
    padding: 15px 30px;
    transition: 1s;
  }
/* main-footer */
  .main-footer{
    flex-direction: column;
  }
  .footer-card,.footer-card1 ,.footer-icon{
  width:90%;
  margin: 0 auto;
  
  
  }

  .footer-icon img{
    width: 36px;
  }
  .footer-card1 p{
  font-size: 16px;
}

  .footer-card ul li{
    margin-left: 0px;
  }

  .footer-card{
  text-align: left;
  }
  .footer-area{
  background-color: #FFFFFF;
  padding: 50px 0px;
  }
}

  


