@media screen and (max-width: 768px) {
 

  /* heading area */
  .heading{
    width: 95%;
    margin-top: 30px;
    
  }
  .navication-bar ul{
    display: none;
  }
  .nonea{
    display: block;
  }

  /* banner area */
  .banner{
    flex-direction: column-reverse;
    height: 100%;
    
   
  }
  .banner-image{
    margin-bottom: 50px;
  }
  .banner-image {
    width: 100%;
  }
  .banner-title{
    width: 95%;
   
  }
  .banner-title h1{
    font-size: 24px;
  }
  .banner-title p{
    font-size: 14px;
  }

  /* Plants area */

  .Plants{
   width: 100%;
   padding: 10px;

  }
  .plants-card-area{
    grid-template-columns: repeat(2,1fr);
  }

  /* *about -section */

  .about{
    grid-template-columns: repeat(1,1fr);
    width: 95%;
    padding: 10px;
    
  }

  .about-image{

    margin-bottom: 20px;

 }
 .about-title li{
  list-style-position: inside;  
 }
 .pos{
   display: none;
 }
 .about-title h2{
  font-size: 24px;
 }
 .about-title h2 span{
  display:inline-block;
}

}